
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box1{
    border: 5px solid black;
    height: 600px;
    width: 1000px;
    font-size: 2.1rem;
    margin: 200px;
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: greenyellow;
    height: 400px;
    width: 600px;
    border: 28px solid blue;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 43px;
}
}

.box2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 1000px;
    border: 6px solid black;
    margin: 200px;
    text-align: center;
    font-size: 2.4rem;
}

.Sbox1{
    background: pink;
    height: 80px;
    width: 95%;
    margin: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.Sbox2{
    background: green;
    margin: 60px 20px;
    height: 80px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}







