
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


p{
    color: blue;
    text-decoration: underline;
    padding: 20px;
    border: 4px solid black;
    margin: 30px;
    background: lightblue;
}

.rp{
color:red ;
background: orange;
text-align: center;
font-size:25px ;
}

div{
    height: 500px;
    background: yellow;
    margin: 30px;
    display: flex;
    align-items: center;
   justify-content: center;
   border: 5px double black;
   font-size: 1.3rem;
}
